#addatripmodal.modal.fade{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{:class => 'close', :type => 'button', "data-dismiss" => "modal"}
          %span{"aria-hidden" => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title#myModalLabel Add a trip
      .modal-body
        = render "trips/form"


