.well#addatrip
  .row
    .col-xs-12.col-sm-5
      %button.btn.btn-neutral.btn-lg.addatrip.btn-block{"data-target" => "#addatripmodal", "data-toggle" => "modal"}
        %span= fa_icon("plane")
        Add a trip
    .col-xs-12.col-sm-7
      You can add trips for the future, places you've been, or ones for the wishlist. You can also add tips for any places you've been to.

#addatripmodal.modal.fade{:tabindex => "-1", :role => "dialog", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{:class => 'close', :type => 'button', "data-dismiss" => "modal"}
          %span{"aria-hidden" => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title Add a trip
      .modal-body
        = render "trips/form"