#new-friend
  = form_tag friendships_path do |f|
    .form-group
      = label_tag(:friend_email, "Find friend by email")
      = email_field_tag(:friend_email, nil, placeholder: "Friend's Email", required: true, class: "form-control")
    = submit_tag("Find Friend", class: "btn btn-primary btn-sm")