.friend-title= "Friends (#{current_user.friends.count})"
- for friend in current_user.friends
  .friend-panel-info
    = link_to(friend.name, user_path(friend))

  - unless current_user.travel_buddies.last == buddy
    %hr