- if current_user.outstanding_friend_requests.any?
  %h5== Pending Friend Requests (#{current_user.outstanding_friend_requests.count})
  - for request in current_user.outstanding_friend_requests
    == Asked #{request.friend_user.name} to be your #{request.type}.