$blue: #1786d5;
$red: #ef342d;
$light_red: #D96459;
$yellow: #F9F2AE;


$white: #fff;
$gray: #cacdd6;

// Bootstrap
$brand_primary: $blue;

$navbar_background: $blue;
$navbar_default_link_color: $gray;
$navbar_default_link_hover_color: $white;
$navbar_default_link_active_color: $white;
$navbar_default_brand_color: $white;

// Custom
$friend_title_bg: $light_red;