$elec_blue: #1786d5;
$red: #C24E47;
$light_red: #C7575E;
$blue: #2F658E;
$light_blue: #3D91B8;
$yellow: #F9F2AE;
$gray: #cacdd6;
$light_gray: #A9A9A9;


$white: #fff;
$black: #000;

// Bootstrap
$brand_primary: $blue;

$link_color: $elec_blue;

$navbar_background: $elec_blue;
$navbar_default_link_color: $gray;
$navbar_default_link_hover_color: $white;
$navbar_default_link_active_color: $white;
$navbar_default_brand_color: $white;

$input-color: $black;

// Custom
$friend_title_bg: $red;