@font-face {
	font-family: 'cticons';
	src:font-url('fonts/cticons.eot?-tr56pn');
	src:font-url('fonts/cticons.eot?#iefix-tr56pn') format('embedded-opentype'),
		font-url('fonts/cticons.woff?-tr56pn') format('woff'),
		font-url('fonts/cticons.ttf?-tr56pn') format('truetype'),
		font-url('fonts/cticons.svg?-tr56pn#cticons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-ct"], [class*=" icon-ct"] {
	font-family: 'cticons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cthome:before {
	content: "\e600";
}
.icon-ctpencil:before {
	content: "\e601";
}
.icon-ctimage:before {
	content: "\e602";
}
.icon-ctcamera:before {
	content: "\e603";
}
.icon-ctpodcast:before {
	content: "\e604";
}
.icon-cttag:before {
	content: "\e605";
}
.icon-ctcoin:before {
	content: "\e606";
}
.icon-ctcredit:before {
	content: "\e607";
}
.icon-ctphone:before {
	content: "\e608";
}
.icon-ctlocation:before {
	content: "\e609";
}
.icon-ctlocation2:before {
	content: "\e60a";
}
.icon-ctcompass:before {
	content: "\e60b";
}
.icon-ctmap:before {
	content: "\e60c";
}
.icon-ctmap2:before {
	content: "\e60d";
}
.icon-ctclock:before {
	content: "\e60e";
}
.icon-ctclock2:before {
	content: "\e60f";
}
.icon-ctcalendar:before {
	content: "\e610";
}
.icon-ctbubble:before {
	content: "\e611";
}
.icon-ctbubbles:before {
	content: "\e612";
}
.icon-ctbubble2:before {
	content: "\e613";
}
.icon-ctbubbles2:before {
	content: "\e614";
}
.icon-ctuser:before {
	content: "\e615";
}
.icon-ctusers:before {
	content: "\e616";
}
.icon-ctquotes-left:before {
	content: "\e617";
}
.icon-ctcontract:before {
	content: "\e618";
}
.icon-ctlock:before {
	content: "\e619";
}
.icon-ctwrench:before {
	content: "\e61a";
}
.icon-ctcogs:before {
	content: "\e61b";
}
.icon-ctcog:before {
	content: "\e61c";
}
.icon-ctbars:before {
	content: "\e61d";
}
.icon-ctgift:before {
	content: "\e61e";
}
.icon-cttrophy:before {
	content: "\e61f";
}
.icon-ctglass:before {
	content: "\e620";
}
.icon-ctmug:before {
	content: "\e621";
}
.icon-ctfood:before {
	content: "\e622";
}
.icon-ctairplane:before {
	content: "\e623";
}
.icon-ctlist:before {
	content: "\e624";
}
.icon-ctnumbered-list:before {
	content: "\e625";
}
.icon-ctglobe:before {
	content: "\e626";
}
.icon-ctearth:before {
	content: "\e627";
}
.icon-ctstar:before {
	content: "\e628";
}
.icon-ctstar2:before {
	content: "\e629";
}
.icon-ctstar3:before {
	content: "\e62a";
}
.icon-ctheart:before {
	content: "\e62b";
}
.icon-ctheart2:before {
	content: "\e62c";
}
.icon-ctthumbs-up:before {
	content: "\e62d";
}
.icon-ctthumbs-up2:before {
	content: "\e62e";
}
.icon-ctinfo:before {
	content: "\e62f";
}
.icon-ctinfo2:before {
	content: "\e630";
}
.icon-ctminus:before {
	content: "\e631";
}
.icon-ctplus:before {
	content: "\e632";
}
.icon-ctenter:before {
	content: "\e633";
}
.icon-ctexit:before {
	content: "\e634";
}
.icon-ctshuffle:before {
	content: "\e635";
}
.icon-ctradio-checked:before {
	content: "\e636";
}
.icon-ctradio-unchecked:before {
	content: "\e637";
}
.icon-ctshare:before {
	content: "\e638";
}
.icon-ctmail:before {
	content: "\e639";
}
.icon-ctmail2:before {
	content: "\e63a";
}
.icon-ctfacebook:before {
	content: "\e63b";
}
.icon-ctfacebook2:before {
	content: "\e63c";
}
.icon-ctinstagram:before {
	content: "\e63d";
}
.icon-cttwitter:before {
	content: "\e63e";
}
.icon-cttwitter2:before {
	content: "\e63f";
}
.icon-cttumblr:before {
	content: "\e640";
}
.icon-cttumblr2:before {
	content: "\e641";
}

