@import 'colors';

body.pages-home {
  background: image-url('travel3.jpg') no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
  color: $light_yellow;

  #content {
    background: transparent;
  }

  .backpanel {
    padding: 10px;
    background: $transparent-black;
    color: $white;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer .copyright {
    padding: 0.5em;
    border-radius: 3px;
    background: $transparent_black;
  }
}