body.pages-home {
  background: image-url('travel3.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  color:#FCFFD1;

  #content {
    background: transparent;
  }

  .backpanel {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius:3px;
    margin-top:20px;
    margin-bottom:20px;
  }
}