@import "colors";

body.planner-index {
  .fb-feed-post {
    font-size: 0.75em;
  }

  .fb-feed-post:hover {
    cursor: pointer
  }

  #social-invite {
    background-color: $yellow;
    padding-bottom: 10px;
  }

  #map-canvas {
    height: 300px;
  }

  #dashboard-content {
    padding-top: 20px;
    margin-bottom:10%;
  }

  #user-panel {
    a.edit-icon {
      float: right;
      color: $light_gray;
    }

    #user-avatar {
      float: left;
      font-size: 24pt;
      margin: 0px 10px;;
    }

    #user_home_location {
      span {
        font-weight: bold;
      }
    }
  }

  #friend-panel {
    width: 100%;
    padding: 10px;

    .friend-title {
      margin: 0 auto;
      padding: 5px;
      margin: 10px 0px;
      background-color: $friend_title_bg;
      color: $white;
    }
    a {
      color:#fff;
    }
    hr {
      border-color: black;
      margin: 10px 0px;
    }

    .friend-panel-info {

      .facebook-options {
        display: inline-block;
      }

      .friend-btns {
        padding-top: 5px;
        text-align: center;
      }
    }
  } 
}