%p== Greetings #{@user.name},

%p== #{@requesting_user.name} would like to add you as a friend on Co:tripping. If you accept, #{@requesting_user.name} will be able to view your profile, including upcoming and past trips, and will receive notifications if you have any overlaps at a destination.

%p== To accept or ignore this request, please sign into your #{link_to('Co:tripping', root_url)} account.

%p
  Happy travels!
  %br
  The Co:tripping Team