#footer
	.container
		%span.text-muted.nudge-right &copy; Co:tripping 2014
		%span.text-muted.nudge-right About
		%span.text-muted.nudge-right Contact
		%span.text-muted.nudge-right.pull-right Give us feedback!
