%header
  %nav.navbar.navbar-default{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar-collapse"}}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          =link_to(image_tag('logos/cotripping-logo-155.png'), root_path)

      #navbar-collapse.collapse.navbar-collapse
        .navbar-right
          %ul.nav.navbar-nav
            - if current_user
              = render 'layouts/user_menu'
            - else
              = render 'layouts/public_menu'