#myModal.modal.fade{:tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button{:class => 'close', :type => 'button', "data-dismiss" => "modal"}
          %span{"aria-hidden" => 'true'} &times;
          %span.sr-only Close
        %h4.modal-title#myModalLabel Notifications
      .modal-body
        %ul.notifications
          %li
            %small Today
            Weldon Kennedy sent you a friend request.
            %span.buttons
              %button.btn.btn-xs.btn-success{:type => 'button'} Approve
              %button.btn.btn-xs.btn-default{:type => 'button'} Ignore
      .modal-footer
        %button.btn.btn-default{:type => 'button', "data-dismiss" => "modal"} Close
